<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="content">
        <div class="row">
            <form class="p-3 mb-3 col-sm-10 col-lg-8" th:action="@{/admin/config}" th:object="${config}" method="post">
                <div class="row mb-3">
                    <label for="username" class="col-sm-6 col-form-label">Admin username</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="username" th:field="*{customAdminUsername}" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-6 col-form-label">Admin password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" th:field="*{customAdminPassword}" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 pb-3">
                Log file location:
            </div>
            <div class="col-sm-6 col-lg-4 pb-3">
                <a class="text-decoration-none" target="_blank" th:href="@{/logfile}" th:text="${@environment.getProperty('logging.file.name')}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                Logging level DEBUG:
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="debugging-level-input" th:checked="${config.loggingDebug}">
                    <label class="form-check-label" for="debugging-level-input">On</label>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
          $(document).ready(() => {
            $('#debugging-level-input').change(function() {
              $.post( "/admin/config",
                $.param({
                  'loggingLevel': this.checked ? 'DEBUG' : 'INFO',
                  [[${_csrf.parameterName}]]: [[${_csrf.token}]]
                }));
            });
          });
        </script>
    </div>
</html>
