<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="content">
        <h2>Metadata settings</h2>
        <p>Generates New / Updates Existing Service Provider Metadata</p>
        <hr/>
        <div class="row">
            <form th:action="@{/admin/config}" th:object="${config}" method="post">
                <div class="row mb-3">
                    <label for="entityId" class="col-sm-3 col-form-label">Entity ID</label>
                    <div class="col-sm-9">
                        <input type="text" th:errorclass="is-invalid" class="form-control" id="entityId"
                               th:field="*{spEntityId}" required>
                        <div class="form-text">Entity ID is uniq identifier for an identity or service provider. Value is included in the generated metadata.</div>
                        <div class="form-text">This value may contain a number of placeholders. They are {baseUrl}, {registrationId}, {baseScheme}, {baseHost}, and {basePort}</div>
                        <div th:if="${#fields.hasErrors('spEntityId')}" th:errors="*{spEntityId}"
                             th:errorclass="invalid-feedback"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="certificate" class="col-sm-3 col-form-label">X509 Certificate</label>
                    <div class="col-sm-9">
                        <textarea th:errorclass="is-invalid" class="form-control" id="certificate" rows="10"
                                  th:field="*{spSigningX509Certificate}" required></textarea>
                        <div class="form-text">Public key will be included in the metadata</div>
                        <div th:if="${#fields.hasErrors('spSigningX509Certificate')}" th:errors="*{spSigningX509Certificate}"
                             th:errorclass="invalid-feedback"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="privateKey" class="col-sm-3 col-form-label">Private Key</label>
                    <div class="col-sm-9">
                        <textarea th:errorclass="is-invalid" class="form-control" id="privateKey" rows="15"
                                  th:field="*{spSigningPrivateKey}" required></textarea>
                        <div class="form-text">Will be used to encrypt the request to IDP</div>
                        <div th:if="${#fields.hasErrors('spSigningPrivateKey')}" th:errors="*{spSigningPrivateKey}"
                             th:errorclass="invalid-feedback"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</html>
