<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Sign out</title>
    </head>
    <body>
        <div layout:fragment="content" class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-6">
                <form class="p-3 mb-3" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Sign out</button>
                </form>
                <div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
                    <div class="alert alert-danger" role="alert" th:text="${errorMsg}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
